extends layout_form
block content
    .container
      .hero
      .grid
        .featured-card
          h1 You shop, we deliver!
          p
            | Welcome to Fresh Foods. Shop for all the groceries you want and we will deliver it at your convenience. So just relax and enjoy all there is to love about eating and cooking. At Fresh Foods, we want to fit your lifestyle and preferences, not the other way around. Pause or skip a week with one click, only receiving deliveries when you want. 
            br
          hr
          br
          img(src='images/promo2.jpg')
        .promo-card
          h3 Promotions 
          .promo-content
            img(src='images/sale1.jpg')
          .promo-content
            img(src='images/veggies.jpg')
          .promo-content
            img(src='images/yogurt.jpg')
      footer
        .col-3
          h5 Help
          ul
            li
              a(href='#') FAQs
            li
              a(href='#') Return Policy
        .col-3
          h5 About
          ul
            li
              a(href='#') Company
            li
              a(href='#') Services
            li
              a(href='#') Contact
            li
              a(href='#') Career
        .col-3
          h5 Social
          ul
            li
              a(href='#') Facebook
            li
              a(href='#') Instagram
            li
              a(href='#') Twitter
            li
              a(href='#') Youtube
        .footer-2
          div(style='font-size:.8em;')
            a(href='#') Privacy Policy
            |  
            a(href='#') Terms & Conditions
    // end .container
